/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Seção de Promoções */
  .promocao-container {
    background-color: #ebe7e7;
    padding: 40px 20px;
    text-align: center;
    height: 60vh;
  }
  
  .promocao-title {
    font-size: 2.5rem;
    color: #f39c12;
    margin-bottom: 30px;
    font-weight: 700;
    letter-spacing: 1px;
  }
  
  /* Cards de Promoção */
  .promocao-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .promocao-card {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
  }
  
  .promocao-img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .promocao-details {
    margin-top: 20px;
  }
  
  .promocao-details h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  .old-price {
    text-decoration: line-through;
    font-size: 1.2rem;
    color: #999;
  }
  
  .new-price {
    font-size: 1.5rem;
    color: #f39c12;
    font-weight: bold;
  }
  
  /* Responsividade */
  @media (max-width: 1024px) {
    .promocao-cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 768px) {
    .promocao-cards {
      grid-template-columns: 1fr;
    }
  }
  