.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}

.home-content img {
  width: 100%;
  max-width: 1300px;
  height: auto;
  object-fit: contain;
  background-color: transparent;
  margin-top: -100px;
}

@media (max-width: 768px) {
  .home-content img {
    margin-top: -60px;
  }
}

@media (max-width: 480px) {
  .home-content img {
    margin-top: -30px;
  }
}


.home-content h1 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 12px;
  color: #333;
}

.home-content p {
  font-size: 18px;
  color: #555;
  margin-bottom: 20px;
}

.btn-cta {
  background-color: #f39c12;
  color: white;
  padding: 12px 24px;
  border: none;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
  margin-bottom: 40px;
}

.btn-cta:hover {
  background-color: #d97e00;
}

.newsletter {
  background-color: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

.newsletter p {
  font-size: 18px;
  margin-bottom: 16px;
  color: #333;
}

.newsletter-form {
  display: flex;
  gap: 12px;
}

.newsletter-form input {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.newsletter-form button {
  background-color: #f39c12;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

.newsletter-form button:hover {
  background-color: #d97e00;
}
